
<%# the player %>

"<div class='track'>" 
		<a href='http://soundcloud.com/' + last_track.user_permalink + last_track.track_permalink + '> class='sc-player'>
	  "</a>"
"</div>"  



<%# track info %>		
<!-- 	<div class="track_info">	 
		<ul>		
			<li><%#= track[:track].user.username.titleize %></li> <strong>||</strong>
			<li><em><%#= track[:track].title.titleize %></em></li> <strong>||</strong>
			<li><%#= "#{track[:user].city.titleize}, #{track[:user].country.titleize}" %></li>
		</ul>
	</div>
   -->


</div> 

