


<ul>
<% @tracks.each do |track| %>
<%= track.id %>
<% end %>

<% @users.each do |user| %>
	<% if (user.city) and (user.city.length != 0)%>
 <li> <%= link_to user.city, "/city?user=#{user.id}&city=#{user.city}" %> </li>
  <% end%>
 <% end %>

</ul>