
<br>
INSPECT
<br>
<%= @track_data[0].inspect %>
<br>
OBJECT
<br>
<% dicks = @track_data[0] %>


<br>
<br>
<br>


<%# the player %>

	<a href="<%= "#{dicks.user_permalink}/#{dicks.track_permalink}" %>" class="sc-player">
  </a>





