

body {
	background: white;
	margin: 0;
}

header {
	height: 60px;
	box-shadow: inset 3px 9x #000000;
	border-bottom: 1px solid #1c1f22; 
}

h1 {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	margin: 25px 0 20px 10px;
}

#map {
	height: 430px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer {
	height: 55px;
}

.track {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.track .track_info {
	padding: 0px;
	margin: 0px;
}
.track div ul {
	margin-left: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
}

.track li {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
}

.track li:first-child{
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
} 